bcrypt==4.1.2
cryptography==47.0.0
fastapi==0.115.0
Jinja2==3.1.4
passlib==1.7.4
pillow==11.0.0
pydantic==2.9.2
pydantic_core==2.23.4
python-jose==3.3.0
python-multipart==0.0.17
reportlab==4.5.0
SQLAlchemy==2.0.36
starlette==0.38.6
uvicorn==0.32.0
qrcode[pil]>=7.4
